@charset 'utf-8';

@import url('https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/grid.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/container.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/components/segment.min.css');

.text-size-code
.remark-code-line {
    font-size: 14px;
}

img {
    max-width: 100%;
    height: auto;
}

.img-01 {
    padding-top: 20px;
    width: 900px;
    filter: drop-shadow(0 0 0.15rem grey);
}

.img-02 {
    width: 620px;
    filter: drop-shadow(0 0 0.15rem grey);
}

.img-03 {
    width: 430px;
    filter: drop-shadow(0 0 0.15rem grey);
}

.img-04 {
    width: 250px;
    filter: drop-shadow(0 0 0.15rem grey);
}

.img-05 {
    width: 720px;
    margin: 0 auto;
    filter: drop-shadow(0 0 0.15rem grey);
}

.img-06 {
    width: 720px;
    margin: 0 auto;
    filter: drop-shadow(0 0 0.15rem grey);
}

.img-07 {
    padding-top: 20px;
    width: 840px;
    margin: 0 auto;
    filter: drop-shadow(0 0 0.15rem grey);
}

.img-08,
.img-09 {
    width: 740px;
    margin: 0 auto;
    filter: drop-shadow(0 0 0.15rem grey);
}

.img-10 {
    width: 500px;
    margin: 0 auto;
    filter: drop-shadow(0 0 0.15rem grey);
}

.img-11 {
    width: 680px;
    margin: 0 auto;
    filter: drop-shadow(0 0 0.15rem grey);
}

.img-12 {
    width: 740px;
    padding-top: 20px;
    margin: 0 auto;
    filter: drop-shadow(0 0 0.15rem grey);
}

.img-13 {
    width: 820px;
    margin: 0 auto;
    filter: drop-shadow(0 0 0.15rem grey);
}

.img-14 {
    width: 480px;
    margin: 0 auto;
    filter: drop-shadow(0 0 0.15rem grey);
}

.img-15 {
    padding-top: 20px;
    padding-right: 30px;
    margin: 0 auto;
    width: 320px;
}

.img-16 {
    padding-top: 20px;
    margin: 0 auto;
    width: 320px;
}

.centered-small {
    font-size: 75%;
    text-align: right;
}


/* From previous slides */

pre {
    margin-top: 0;
}

.prof {
    position: absolute;
    top: 24px;
    right: 4px;
}
.prof p {
    margin-bottom: 0;
}
.prof ul {
    margin-top: 0;
}

.no-logo {
    background-image: none;
}

.subtitle {
    font-size: 32px;
    font-weight: 700;
}

.cover .english p {
    font-size: 24px;
    margin-left: 0;
}

.text-align-right {
    text-align: right;
}

.cloudcraft {
    position: relative;
}
.cloudcraft img {
    width: 85%;
    position: absolute;
    right: -190px;
    top: 10px;
    transform: rotate(-15deg);
}
.cloudcraft .text {
    position: absolute;
}

.text .icon img {
    max-width: 50px;
    vertical-align: middle;
    position: relative;
    right: 0;
    top: 0;
    transform: rotate(-15deg);
}

.resize-w120 > img {
    max-width: 120px;
}

.resize-w180 > img {
    max-width: 180px;
}

.resize-w240 > img {
    max-width: 240px;
}

.resize-w280 > img {
    max-width: 280px;
}

.resize-w420 > img {
    max-width: 420px;
}

.resize-w640 > img {
    max-width: 640px;
}

.resize-w240-fit > img {
    width: 240px;
    height: 240px;
    object-fit: cover;
    object-position: top;
}

.resize-w240-h320 > img {
    width: 240px;
    height: 320px;
    object-fit: cover;
    object-position: right;
}

.resize-h320-box {
    position: relative;
}

.resize-hx > img {
    height: 520px;
}

.resize-h620 > img {
    height: 620px;
}

.img-text {
    position: absolute;
    left: 10px;
    bottom: 10px;
    color: #FFF;
    font-size: 46px;
    font-weight: bolder;
    text-shadow: 1px 1px 2px #FFFAFA;
}

.resize-h img {
    max-height: 210px;
}

.small {
    font-size: 75%;
}

.xsmall {
    font-size: 60%;
}
.small p {
    margin-top: 0;
}

.jaian > img {
    width: 500px;
    border: #333 solid;
}

.spajam-slide > img {
    position: absolute;
    left: 4px;
    max-width: 580px;
    bottom: 4px;
    border: #333 solid;
    z-index: 10;
}

.spajam-photo-2 > img {
    position: absolute;
    top: 8px;
    right: -44px;
    transform: rotate(7deg);
    border: #333 solid;
    width: 560px;
}
.spajam-photo-2-pin {
    width: 20px;
    height: 18px;
    display: block;
    position: absolute;
    top: 10px;
    right: 200px;
    z-index: 100;
}

.spajam-photo-3 > img {
    position: absolute;
    bottom: -10px;
    right: -24px;
    transform: rotate(-10deg);
    border: #333 solid;
    width: 640px;
    z-index: 20;
}
.spajam-photo-3-pin {
    width: 20px;
    height: 18px;
    display: block;
    position: absolute;
    bottom: 220px;
    right: 210px;
    z-index: 100;
}

.spajam-photo-4 > img {
    position: absolute;
    bottom: 140px;
    right: 400px;
    transform: rotate(-5deg);
    border: #333 solid;
    width: 320px;
    z-index: 10;
}
.spajam-photo-4-pin {
    width: 20px;
    height: 18px;
    display: block;
    position: absolute;
    bottom: 380px;
    right: 510px;
    z-index: 100;
}

.vote-photo > img {
    position: absolute;
    bottom: 0px;
    right: -10px;
    transform: rotate(-5deg);
    border: #333 solid;
    width: 300px;
}

.right-image-full img {
    position: absolute;
    height:614px;
}

.right-image-full2 img {
    position: absolute;
    width: 1180px;
    bottom: 10px;
}

.img-001 > img {
    position: absolute;
    bottom: 10px;
    left: 300px;
    width: 380px;
}

.img-002 > img {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 450px;
}

.img-md > img {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 510px;
}

.img-jamstackconf > img {
    border: 1px #333 solid;
    width: 940px;
}

.img-jamstack > img {
    border: 1px #333 solid;
    width: 670px;
    position: absolute;
    right: 4px;
    bottom: 4px;
}

.wrapup-note {
    margin-top: 100px;
}

.text-large-48 {
    font-size: 48px;
}

.text-large-36 {
    font-size: 36px;
}

.text-large-32 {
    font-size: 32px;
}

.text-large-30 {
    font-size: 30px;
}

.text-large-24 {
    font-size: 24px;
}

.marker {
    background-repeat: repeat-x;
    background-size: 0.6em 0.2em,1.6em 0.2em,3.4em 0.2em,3.6em 0.2em;
    background-position: right bottom;

    background-image:-webkit-gradient(linear, left top, left bottom, from(rgba(246,89,115,0)), color-stop(0.1, rgba(246,89,115,0.02)), color-stop(0.5, rgba(246,89,115,1)), color-stop(0.98, rgba(246,89,115,0)), to(rgba(246,89,115,0)) );
    background-image:
            -webkit-radial-gradient(center center,0.2em 0.1em,rgba(246,89,115,1) 0,rgba(246,89,115,0) 0.1em,rgba(246,89,115,0) 0.2em),
            -webkit-radial-gradient(center center,0.4em 0.1em,rgba(246,89,115,1) 0,rgba(246,89,115,0) 0.3em,rgba(246,89,115,0) 0.4em),
            -webkit-radial-gradient(center center,0.7em 0.1em,rgba(246,89,115,1) 0,rgba(246,89,115,0) 0.6em,rgba(246,89,115,0) 0.7em),
            -webkit-radial-gradient(center center,7.1em 0.1em,rgba(246,89,115,1) 0,rgba(246,89,115,0) 7em,rgba(246,89,115,0) 7.1em);
    background-image:
            radial-gradient(0.2em 0.1em at center center,rgba(246,89,115,1),rgba(246,89,115,0)),
            radial-gradient(0.4em 0.1em at center center,rgba(246,89,115,1),rgba(246,89,115,0)),
            radial-gradient(0.7em 0.1em at center center,rgba(246,89,115,1),rgba(246,89,115,0)),
            radial-gradient(7.1em 0.1em at center center,rgba(246,89,115,1),rgba(246,89,115,0));
}

.video {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 429px;
    height: 572px;
    z-index: 10;
}

.video .frame-container {
    border-radius: 6px;
    margin: 2px;
    display: inline-block;
    width: 100%;
    height: 100%;
    background: black;
    position: relative;
}

.video .frame-container iframe {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 421px;
    height: 564px;
    z-index: 80;
}

.arrow-left-center {
    margin-left: 300px;
}

.arrow-left-150 {
    margin-left: 150px;
}

.arch img {
    width: 58%;
}

.img-jamstack-def > img {
    max-width: 75%;
    border: 1px #333 solid;
}

.img-jamstack-old img {
    max-width: 65%;
    border: 1px #333 solid;
}

.img-jamstack-new img {
    max-width: 101%;
}

.img-jamstack-all img {
    max-width: 70%;
    border: 1px #333 solid;
}

.img-jamstack-tr img {
    position: absolute;
    top: 4px;
    right: 4px;
    max-width: 56%;
    border: 1px #333 solid;
}

.img-staitc-gen img {
    max-width: 100%;
}

.caption {
    height: 100%;
}

.caption p {
    font-size: 60px;
    text-align: center;
    position: relative;
    top: 30%;
}

.static-gen ul, .static-gen p {
    margin-top: 0;
    margin-bottom: 0;
 }
.static-gen p {
    margin-bottom: 24px;
}
.static-gen li {
    margin-bottom: 24px;
}
.static-gen li a {
    width: 110px;
    display: inline-block;
}

.aws-jam-margin {
    position: absolute;
    left: 300px;
}

.img-left-riotz img {
    position: absolute;
    top: 4px;
    right: 4px;
    width: 40%;
}

.img-left-rap-top img {
    position: absolute;
    top: 360px;
    right: 270px;
    width: 18%;
}
.img-left-rap-vs img {
    position: absolute;
    top: 360px;
    right: 30px;
    width: 18%;
}

.img-arch-01 > img {
    height: 550px;
}

.img-arch-02 > img {
    height: 550px;
}

.img-arch-03 > img {
    height: 520px;
}

.img-arch-04 > img {
    height: 550px;
}

.img-jamstack-amplifier > img {
    height: 180px;
}

.img-wordpress img {
    width: 365px;
}

.img-wordpress-theme img {
    width: 340px;
}

.img-wordpress-ssg img {
    width: 450px;
    margin-right: 64px;
}

.img-wordpress2 img {
    height: 340px;
    margin: 0 35px;
    float: left;
}

.hidden-wordpress2 :nth-child(3) {
    visibility: hidden;
}

.img-wordpress3 {
    position: absolute;
    right: 12px;
    bottom: 48px;
    text-align: right;
}
.img-wordpress3 img {
    height: 330px;
    border: 1px #333 solid;
}
.face-wordpress3 {
    font-size: 48px;
    position: absolute;
    left: 490px;
    bottom: 110px;
}

/* .img-10 img {
    position: absolute;
    right: 4px;
    bottom: 4px;
    height: 460px;
}

.img-11 img {
    height: 280px;
}

.img-12 img {
    height: 380px;
} */

.img-wordpress4 {
    position: absolute;
    right: 12px;
    bottom: 12px;
    text-align: right;
}
.img-wordpress4 img {
    height: 330px;
    border: 1px #333 solid;
}

.img-headlesscms > img {
    position: absolute;
    top: 4px;
    right: 4px;
    height: 290px;
}

.img-webhooks > img {
    border: 1px #333 solid;
    height: 290px;
    position: absolute;
    top: 100px;
    right: 4px;
}

.box {
    border: 4px #f33 solid;
    width: 450px;
}

.box ul {
    margin-bottom: 10px;
}

.box ul p {
    margin-top: 0;
}
